a {color:#0F7CC5;}
a:active {color: #e57200;cursor: pointer;}

table {
	margin: 0 auto;
	width: 100%;
}

table tr {}

table tr th {padding: 3px 5px; font-weight: bold;}

table tr td {padding: 3px 5px;}

body {
	text-align: center;
	font-size: 12px;
}

#page {
	margin: 0 auto;
	width: 930px;
	text-align: left;
}

#header {
	background: #3b5998;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 10px;
}

#content {
	margin: 10px 0;
}

#content #sidebar {
	float: left;
	width: 180px;
}

#content #sidebar #side-nav {
	background-color: #3b5998;
	border-radius: 4px;
}
#content #sidebar #side-nav ul {
	padding:10px;
}
#content #sidebar #side-nav ul li {
	margin: 5px 0;
}
#content #sidebar #side-nav ul li a {
	display: block;
	padding: 5px 10px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;	
	border-radius: 3px;
}
#content #sidebar #side-nav ul li a:hover, #content #sidebar #side-nav ul li a.hover {
	background: #fff;
	color: #3b5998;
}
#content #sidebar #side-nav ul li a:active, #content #sidebar #side-nav ul li a.active {
	background: #fff;
	color: #3b5998;
}

#content #widebar {
	float: right;
	width: 740px;
}

#content #widebar #widebar-content-container {	
	background-color: #3b5998;
	padding: 10px;
	border-radius: 4px;
}

#content #widebar #widebar-content-container #widebar-content {	
	background-color: #fff;
	border-radius: 3px;
	padding: 10px;
}

#content #widebar #widebar-content-container #widebar-content #widebar-header {

}

#content #widebar #widebar-content-container #widebar-content #widebar-body {

}

#footer {}

.txtLabel {
	display: inline-block;
	width: 100px;
	background: #99CCFF;
}

#FormViewEmployee_InsertButton, #FormViewEmployee_InsertCancelButton, #FormView1_InsertButton, #FormView1_InsertCancelButton {
	display: inline-block;
	padding: 3px 8px;
	margin-top: 5px;
	margin-right: 3px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: #3b5998;
	border: 1px solid #22dd00;
}

#FormViewEmployee_InsertCancelButton, #FormView1_InsertCancelButton {
	border: 1px solid #ff1111;
}